footer.footer
    .container
        .footer__content
            .footer__top
                .footer__social.social
                    .social__title Подписывайтесь на нас:
                    .social__links
                        a.social__link.this--youtube(href="#")
                        a.social__link.this--fb(href="#")
                        a.social__link.this--vk(href="#")
                        a.social__link.this--ok(href="#")
                        a.social__link.this--inst(href="#")
            .footer__bottom
                .footer__bottom_item
                    .footer__copyright © 2021 «Златоустовское телевидение»
                    .footer__privacy
                        a(href="#") Политика конфиденциальности
                .footer__bottom_item
                    .footer__develope
                        a(href="#")