header.header
    .container
        .header__content
            .header__top
                a(href="#" class="header__top_link btn") Предложить новость
                .header__top_group
                    a(href="tel:83513651711" class="header__top_tel") 8 (3513) 65-17-11
                    button.header__search
                        svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.2094 11.6186C14.0951 10.409 14.6249 8.92328 14.6249 7.31261C14.6249 3.28064 11.3444 0.00012207 7.31245 0.00012207C3.28048 0.00012207 0 3.28064 0 7.31261C0 11.3446 3.28052 14.6251 7.31248 14.6251C8.92315 14.6251 10.409 14.0952 11.6186 13.2094L16.4092 18L18 16.4092C18 16.4092 13.2094 11.6186 13.2094 11.6186ZM7.31248 12.3751C4.52086 12.3751 2.25001 10.1042 2.25001 7.31261C2.25001 4.52098 4.52086 2.25013 7.31248 2.25013C10.1041 2.25013 12.375 4.52098 12.375 7.31261C12.375 10.1042 10.1041 12.3751 7.31248 12.3751Z' fill='#373334')
                    .header__burger.js_burger
                        span
            .header__bottom_mob_bg.js_mob_menu_bg
            .header__bottom.js_mob_menu
                ul.header__nav
                    li.header__nav_item
                        a.header__nav_link(href="#") Новости
                    li.header__nav_item
                        a.header__nav_link(href="#") Телепроекты
                    li.header__nav_item
                        a.header__nav_link(href="#") Реклама
                    li.header__nav_item.this--submenu.js_mob_accordion
                        .header__nav_item_title.js_mob_accordion_head Онлайн
                            .header__nav_item_arrow.arrow
                        ul.header__submenu.js_mob_accordion_body
                            li.header__submenu_item
                                a.header__submenu_link(href="#") Пункт меню
                            li.header__submenu_item
                                a.header__submenu_link(href="#") Пункт меню
                            li.header__submenu_item
                                a.header__submenu_link(href="#") Пункт меню
                            li.header__submenu_item
                                a.header__submenu_link(href="#") Пункт меню
                            li.header__submenu_item
                                a.header__submenu_link(href="#") Пункт меню
                    li.header__nav_item
                        a.header__nav_link(href="#") Программа передач
                    li.header__nav_item.this--submenu.js_mob_accordion
                        .header__nav_item_title.js_mob_accordion_head Еще
                            .header__nav_item_arrow.arrow
                        ul.header__submenu.js_mob_accordion_body
                            li.header__submenu_item
                                a.header__submenu_link(href="#") Пункт меню
                            li.header__submenu_item
                                a.header__submenu_link(href="#") Пункт меню длинный
                            li.header__submenu_item
                                a.header__submenu_link(href="#") Пункт меню
                            li.header__submenu_item
                                a.header__submenu_link(href="#") Пункт меню
                            li.header__submenu_item
                                a.header__submenu_link(href="#") Пункт меню длинный длинный
                .header__social.social
                    .social__title Подписывайтесь на нас:
                    .social__links
                        a.social__link.this--youtube(href="#")
                        a.social__link.this--fb(href="#")
                        a.social__link.this--vk(href="#")
                        a.social__link.this--ok(href="#")
                        a.social__link.this--inst(href="#")
